
ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Heebo, Arial;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

::-webkit-scrollbar-track {
background-color:#ecedee
}
 
::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 5px;
background-color: #000000;
}
 
::-webkit-scrollbar-thumb:hover{
background-color:#1A1A1A;
}
 
::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:10px;
height:0px
}
 
::-webkit-scrollbar{
width: 10px;
}

/*___________________________*/

header {
  display: flex;
  border: white solid 10px;
  border-radius: 50px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  margin: 0% 4%;
}

.logo {
  display: flex;
  padding-left: 3%;
  text-decoration: none;
}

.logo {
  color: #3079ed;
  animation-name: focus-in-contract;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: none;
}
@keyframes focus-in-contract {
  0%{
    text-shadow: 0px -10px 15px rgba(255,0,0,0), 0px 10px 15px rgba(0,0,0,0);
  }
  100%{
    text-shadow: 0px 10px 15px #000000, 0px -10px 15px #FF0000;
  }
}

.menu {
  display: flex;
  grid-gap: 10%;
  padding-right: 25%;
}

.tutorial {
  animation: animateBg 1s linear infinite;
  background-image: linear-gradient(90deg,#11ff00,#03cc00,#11ff00,#03cc00);
  background-size: 300% 100%;
  border-radius: 20px;
  padding: 0% 0.5%;
}
@keyframes animateBg {
  0% { background-position: 100% 0%; }
  100% { background-position: 0% 0%; }
}

@media screen and (min-width: 2000.90px) {
  body {
    padding: 0% 25%;
  }
}

@media screen and (max-width: 1440.90px) {
  .menu {
    grid-gap: 4%;
    padding-right: 10%;
  }
}

@media screen and (max-width: 1024.90px) {
  body {
    padding: unset;
  }
  .logo {
    font-size: 12px;
  }

  .menu {
    grid-gap: 2%;
    padding-right: 7%;
  }
}

@media screen and (max-width: 768.90px) {
  header {
    margin: unset;
  }
  .logo {
    font-size: 8px;
    padding-left: 0.5%;
  }
  .menu {
    font-size: 12px;
  }
}

@media screen and (max-width: 535.90px) {
  .header {
    display: block;
  }
  .logo {
    font-size: 14px;
    padding: unset;
    padding: 0% 15%;
  }
  .menu {
    display: block;
    text-align: center;
    font-size: 16px;
    padding: 0% 10%;
  }
  .tutorial {
    border: none;
    background-color: unset;
  }
}

@media screen and (max-width: 425.90px) {
  .logo {
    padding: 0% 9%;
  }
}

@media screen and (max-width: 319.90px) {
  header {
    background-color: unset;
    border: none;
  }
  .menu {
    color: white;
    font: 900;
    padding: 0% 20%;
  }
}

.grid_wrapper {
  padding: 0% 5%;
  display: grid;
  grid-gap: 3%;
  padding-top: 2%;
  grid-template-columns: 0.5, 1fr;
  grid-template-rows: 0.5fr, 1fr;
  grid-template-areas: "side content"
  "side content"
  "side content"
  "side content"
  "side content"
}

.grid_sidebar {
  grid-area: side;
  text-align: center;
  background-color: white;
  border: white solid 3px;
  border-radius: 10px;
  margin-left: 10%;
}

.grid_content {
  display: flex;
  grid-gap: 7%;
}

.wrapper_container {
  background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 4px, transparent 4px) 0% 0%/10px 10px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 4px, transparent 4px) 100% 0%/10px 10px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 4px, transparent 4px) 0% 100%/10px 10px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 4px, transparent 4px) 100% 100%/10px 10px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 12px) calc(100% - 20px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 20px) calc(100% - 12px) no-repeat,
            linear-gradient(0deg, #ffffff 0%, #42303f 100%);
border-radius: 10px;
padding: 5px;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
  width: 250px;
  height: 350px;
  overflow: scroll;
}

.img {
  height: 200px;
  padding: 0% 5%;
  background-image: url(../img/unknown.jpg);
  background-size: cover;
  border: black solid 4px;
  border-radius: 10px;
}

.title {
  padding-left: 7px;
}

.discription {
  padding-left: 4px;
}

.title_version {
  font-size: 24px;
}

.version {
  text-decoration: none;
  color: black;
  padding-top: 3%;
  border-bottom: black solid 1px;
}

.version:hover {
  transition: 0.3s;
  color: #1A1A1A;
  font-size: 20px;
}

.footer_container {
  border: white solid 2px;
  border-radius: 2px;
  background-color: #101010;
  margin-top: 5%;
}

footer {
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin-top: 20%;
}

.three {
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 0% 20%;
}

.contacts {
  text-decoration: none;
  color: white;
}

.vacancy {
  text-decoration: none;
  color: white;
}

.youtube {
  text-decoration: none;
  color: white;
}

.thanks {
  text-decoration: none;
  color: white;
}

.ap {
  text-align: center;
  margin-top: unset;
  padding-top: unset;
}

@media screen and (max-width: 1024.90px) {
  footer {
    margin-top: 30%;
  }
  .grid_wrapper {
    padding: unset;
    margin-top: 1%;
    grid-gap: 1%;
  }
  .wrapper_container {
  width: 200px;
  }
  .grid_sidebar {
    margin-left: unset;
  }
}

@media screen and (max-width: 768.90px) {
  .img {
    background-position: center;
  }
  .wrapper_container {
  width: 30%;
  }
  .three {
    padding: unset;
  }
}

@media screen and (max-width: 650.90px) {
  header {
    width: 100%;
    margin-bottom: 2%;
  }
  .grid_sidebar {
    width: 80px;
  }
  .grid_content {
    grid-gap: 5%;
    display: unset;
  }
  .wrapper_container {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  footer {
    margin-top: 80%;
    margin-left: 15%;
    margin-right: 5%;
  }
  .three {
    display: unset;
    text-align: center;
  }
}